<% content_for(:title, t('.title')) %>
<div class="bookmarks-container ps-2 pe-2">
  <div data-controller="background-animation" class="snow-container">
    <!-- 画像を降らせる -->
    <%= image_tag "ogp.png", alt: "snowflake", class: "snowflake" %>
    <%= image_tag "bear-removebg-preview.png", alt: "snowflake", class: "snowflake" %>
    <%= image_tag "dack_boy.jpg", alt: "snowflake", class: "snowflake" %>
    <%= image_tag "bear_girl.jpg", alt: "snowflake", class: "snowflake" %>
    <%= image_tag "toy.png", alt: "snowflake", class: "snowflake" %>
    <%= image_tag "block-removebg-preview.png", alt: "snowflake", class: "snowflake" %>
    <%= image_tag "book-removebg-preview.png", alt: "snowflake", class: "snowflake" %>
    <!-- 必要に応じてさらに追加 -->
  </div>
  <div class="bookmarks-wrapper text-center">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- 検索フォーム -->
        <%# <%= render 'shared/search_form', q: @q, url: bookmarks_facilities_path %>
      </div>
    </div>
    <!-- 掲示板一覧 -->
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% if @bookmarks.present? %>
            <%= render @bookmarks %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>

        </div>
        <%= paginate @bookmarks %>
      </div>
    </div>
  </div>
</div>