<% content_for(:title, t('.title')) %>
<div class="image-container">
  <div data-controller="random-image">
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4683.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4684.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_3631.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4204.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4565.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4606.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4615.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4617.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4669.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4670.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4671.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4672.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_4673.jpg", class: "random-image", data: { random_image_target: "image" } %>
    <%= image_tag "https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/TopPageAnimationImage/IMG_8369.jpg", class: "random-image", data: { random_image_target: "image" } %>
  </div>
  <div class="top-title">
    <h3>愛しの我が子と思い出を作りませんか？</h3>
    <ul class="top-button-wrapper">
      <li><%= link_to '施設を探す', facilities_path, class: "facility-button" %></li>
      <li><%= link_to 'イベントを探す', events_path, class: "event-button" %></li>
    </ul>
  </div>
</div>

  <%# <div>

  </div>
  <div>
    
  </div>
  <div>
    
  </div> %>

