<%= content_for(:title, t('.title')) %>
<div class="container">
  <h1>管理者専用ログイン</h1>

  <%= form_with(url: admin_login_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%= f.submit 'Log in', class: 'btn btn-primary' %>
  <% end %>
</div>
