<%= content_for(:title, t('.title')) %>
<div class="sessions-container ps-3 pe-3">
  <div class="sessions-wrapper">
    <h1>管理者専用ログイン</h1>

    <%= form_with(url: admin_login_path, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control mt-2' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control mt-2' %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-primary mt-2' %>
    <% end %>
    </div>
</div>
