<div class="facility-container m-auto">
  <div class="facility-wrapper mt-5 p-3">
    <h3 class="facility-title-text"><%= link_to facility.title.truncate(10, omission: '...'), facility_path(facility) %></h3>
    <div class="facility-body text-center">
      <%= image_tag(facility.image.present? ? facility.image.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', class: "facilities-image") %>
      <div class="text-start">
        <p class="facility-body-text fs-5"><%= simple_format(facility.business_hours.truncate(15, omission: '...')) %></p>
        <p class="facility-body-text fs-5"><%= simple_format(facility.address.presence.truncate(15, omission: '...')) %></p>
      </div>
      <% if logged_in? %>
        <div class="text-end">
          <%= render 'bookmarks/bookmark_buttons', bookmarkable: facility %>
        </div>
      <% end %>
    </div>
  </div>
</div>