<% content_for(:title, t('.title')) %>
<div class='d-flex justify-content-evenly px-2 mt-5' >
    <div>
      <div>
        <div>
          <h2><%= @facility.title %></h2>
        </div>
        <div>
          <%= image_tag "sample.png", alt: "image", width: "400px", height: "200px" %>
        </div>
      </div>
      <div class="map-wrapper">
        <%= image_tag "sample.png", alt: "map", width: "400px", height: "200px" %>
      </div>
      <div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div>
      <div>
        <table class="table table-bordered">
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
          <tr>
            <td>項目</td>
            <td><%= @facility.address %></td>
          </tr>
          <tr>
            <td>項目</td>
            <td><%= @facility.business_hours %></td>
          </tr>
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
          <tr>
            <td>項目</td>
            <td>内容</td>
          </tr>
        </table>
      </div>
    </div>
  </div>