<% content_for(:title, t('.title')) %>
<div class='facility-show-container ps-2 pe-2' >
  <div class="facility-show-wrapper">
    <div>
      <h1><%= @facility.title %></h1>
    </div>
    <div class="facility-show-image-wrapper">
      <%= image_tag(@facility.image.present? ? @facility.image.url : 'sample.png', class:"facility-show-image" ) %>
    </div>
    <% if @place && @place.latitude.present? && @place.longitude.present? %>
      <div id="map" class="map" style="height: 300px; width: 100%;"></div>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"></script>
      <script type="text/javascript">
        function initMap() {
          var facilityLocation = { lat: <%= @place.latitude %>, lng: <%= @place.longitude %> };
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: facilityLocation
          });
          var marker = new google.maps.Marker({
            position: facilityLocation,
            map: map
          });
        }
      </script>
    <% else %>
      <p class="mt-5">地図を表示するための情報がありません。</p>
    <% end %>
  </div>
  <div class="facility-show-article">
    <div class="table-wrapper" >
      <table class="table table-bordered rounded">
        <tr>
          <th class="table-light">施設名(かな)</th>
          <td class="table-decription"><%= @facility.furigana %></td>
        </tr>
        <tr>
          <th class="table-light">施設名</th>
          <td><%= @facility.name %></td>
        </tr>
        <tr>
          <th class="table-light">施設住所</th>
          <%# simple_formatで\nで改行させる %>
          <td><%= simple_format(@facility.address) %></td>
        </tr>
        <tr>
          <th class="table-light">営業時間</th>
          <td><%= simple_format(@facility.business_hours) %></td>
        </tr>
        <tr>
          <th class="table-light">料金</th>
          <td><%= simple_format(@facility.fee) %></td>
        </tr>
        <tr>
          <th class="table-light">対象年齢</th>
          <td><%= simple_format(@facility.target_age) %></td>
        </tr>
        <tr>
          <th class="table-light">屋内／屋外</th>
          <td><%= simple_format(@facility.environment) %></td>
        </tr>
        <tr>
          <th class="table-light">目的・要望</th>
          <td><%= simple_format(@facility.request) %></td>
        </tr>
        <tr>
          <th class="table-light">お問い合わせ先</th>
          <td><%= simple_format(@facility.contact) %></td>
        </tr>
        <tr>
          <th class="table-light">施設URL</th>
          <td> <%= simple_format(@facility.facility_url) %></td>
        </tr>
        <tr>
          <th class="table-light">タグ</th>
          <td><%# <%= @facility. %></td>
        </tr>
      </table>
    </div>
    <div class="link-item-list">
      <div class="link-item">
        <%= link_to "遊具・設備情報", facility_playground_equipments_path(@facility) %>
      </div>
      <div class="link-item">
          <%= link_to "レビュー一覧", facility_reviews_path(@facility) %>
      </div>
      <div class="link-item">
        <%= link_to 'レビューを投稿する', new_facility_review_path(@facility) %>
      </div>
    </div>
  </div>
</div>
