<div class="event-container m-auto">
  <div class="event-wrapper mt-5 p-3">
    <h3 class="event-title-text"><%= link_to event.title.truncate(20, omission: '...'), event_path(event) %></h3>
    <div class="event-body">
      <%= image_tag(event.image.present? ? event.image.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', class: "events-image") %>
      <div class="ms-3 event-sp">
        <p class="event-body-text fs-5"><%= simple_format(event.business_hours.truncate(15, omission: '...')) %></p>
        <p class="event-body-text fs-5"><%= simple_format(event.address.presence.truncate(15, omission: '...')) %></p>
        <% if logged_in? %>
        <div class="text-end">
          <%= render 'bookmarks/bookmark_buttons', bookmarkable: event %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>