<% content_for(:title, t('.title')) %>
<div class="event-show-container ps-3 pe-3" >
  <div class="event-show-wrapper">
    <div>
      <h1><%= @event.title %></h1>
    </div>
    <div class="event-show-main">
      <ul class="event-show-image-list slider" data-controller="slider">
        <li class="event-show-image-wrapper">
          <%= image_tag(@event.image.present? ? @event.image.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', class:"event-show-image" ) %>
        </li>
        <li class="event-show-image-wrapper">
          <%= image_tag(@event.secondary_image.present? ? @event.secondary_image.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', class:"event-show-image" ) %>
        </li>
        <li class="event-show-image-wrapper">
          <%= image_tag(@event.tertiary_image.present? ? @event.tertiary_image.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', class:"event-show-image" ) %>
        </li>
        <li class="event-show-image-wrapper">
          <%= video_tag(@event.video.present? ? @event.video.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', class:"event-show-image", controls: true ) %>
        </li>
      </ul>
      <div class="event-show-article">
        <div class="event-table-wrapper" >
          <table class="event-table">
            <tr>
              <th class="event-table-light">施設名(かな)</th>
              <td class="event-table-decription"><%= @event.furigana %></td>
            </tr>
            <tr>
              <th class="event-table-light">施設名</th>
              <td><%= @event.name %></td>
            </tr>
            <tr>
              <th class="event-table-light">施設住所</th>
              <%# simple_formatで\nで改行させる %>
              <td><%= simple_format(@event.address) %></td>
            </tr>
            <tr>
              <th class="event-table-light">営業時間</th>
              <td><%= simple_format(@event.business_hours) %></td>
            </tr>
            <tr>
              <th class="event-table-light">料金</th>
              <td><%= simple_format(@event.fee) %></td>
            </tr>
            <tr>
              <th class="event-table-light">対象年齢</th>
              <td><%= simple_format(@event.target_age) %></td>
            </tr>
            <tr>
              <th class="event-table-light">屋内／屋外</th>
              <td><%= simple_format(@event.environment) %></td>
            </tr>
            <tr>
              <th class="event-table-light">目的・要望</th>
              <td><%= simple_format(@event.request) %></td>
            </tr>
            <tr>
              <th class="event-table-light">お問い合わせ先</th>
              <td><%= simple_format(@event.contact) %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="event-link-item-list-wrapper">
      <ul class="event-link-item-list">
        <li class="event-link-item">
          <%= link_to "レビュー一覧", event_reviews_path(@event), class:"nav-link active link-hover" %>
        </li>
        <li class="event-link-item">
          <%= link_to 'レビューを投稿する', new_event_review_path(@event), class:"nav-link active link-hover" %>
        </li>
        <li class="event-link-item">
          <%= link_to 'イベント一覧へ', events_path, class:"nav-link active link-hover" %>
        </li>
        <li class="event-link-item">
          <%= link_to 'イベント開催施設へ', facility_path(@facility), class:"nav-link active link-hover" %>
        </li>
      </ul>
      <ul class="event-share-item-list">
        <li class="event-share-item d-flex">
          <i class="fa-brands fa-square-x-twitter p-1"></i>
          <%= link_to 'シェア', "https://twitter.com/share?url=#{request.original_url}", title: 'Twitter', target: '_blank', rel: "noopener noreferrer", class: "text-decoration-none nav-link active pb-1" %>
        </li>
        <li class="event-share-item">
          <div id="line-share-button" class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-color="default" data-size="small" data-count="true" data-ver="3" style="display: none;"></div>
          <!-- LINEの公式JavaScript -->
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </li>
      </ul>
    </div>
  </div>
</div>
