<div class="review-container">
  <div id="review-<%= review.id %>" class="review-wrapper mt-5">
    <h3>
      <% if review.reviewable_type == 'Facility' %>
        <%= link_to review.title.truncate(10, omission: '...'), facility_review_path(review.reviewable, review) %>
      <% elsif review.reviewable_type == 'Event' %>
        <%= link_to review.title.truncate(10, omission: '...'), event_review_path(review.reviewable, review) %>
      <% end %>
    </h3>
    <div class="review-body">
      <div class="review-image-wrapper">
        <%= image_tag(review.image.present? ? review.image.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', alt: "sample", class:"review-image rounded") %>
      </div>
      <p>
        <strong>評価:</strong>
        <%= display_stars(review.rate) %>
      </p>
      <div class="ms-3 w-100">
          <p><%= review.user.name.truncate(10, omission: '...') %></p>
          <p><%= review.body.truncate(30, omission: '...') %></p>
          <%# <p></p> 削除検討中%>
        <% if review.user&.own?(@current_user) %>
          <td class="action">
            <ul class="list-inline justify-content-center" style="float: right;">
              <li class="list-inline-item">
                <% if review.reviewable_type == 'Facility' %>
                  <%= link_to edit_facility_review_path(review.reviewable, review), class: "edit-review-#{review.id}" do %>
                    <i class='bi bi-pencil-fill'></i>
                  <% end %>
                <% elsif review.reviewable_type == 'Event' %>
                  <%= link_to edit_event_review_path(review.reviewable, review), class: "edit-review-#{review.id}" do %>
                    <i class='bi bi-pencil-fill'></i>
                  <% end %>
                <% end %>
              </li>

              <li class="list-inline-item">
                <% if review.reviewable_type == 'Facility' %>
                  <%= link_to facility_review_path(review.reviewable, review), class: "delete-review-#{review.id}", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')} do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                <% elsif review.reviewable_type == 'Event' %>
                  <%= link_to event_review_path(review.reviewable, review), class: "delete-review-#{review.id}", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')} do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </td>
        <% end %>
      </div>
    </div>
  </div>
</div>

