<% content_for(:title, t('.title')) %>
<div class="review-edit-container ps-3 pe-3">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <% if @review.reviewable_type == 'Facility' %>
        <%= render 'form', review: @review, facility: @facility %>
      <% elsif @review.reviewable_type == 'Event' %>
        <%= render 'form', review: @review, event: @event %>
      <% end %>
    </div>
    <div class="text-center">
      <% if @review.reviewable_type == 'Facility' %>
        <%= link_to t('.back'), facility_review_path(@review.reviewable, @review) %>
      <% elsif %>
        <%= link_to t('.back'), event_review_path(@review.reviewable, @review) %>
      <% end %>
    </div>
  </div>
</div>