<% content_for(:title, t('.title')) %>
<div class="container">
  <h3><%= t('.title') %></h3>
  <% if (@facility && @facility_reviews.any?) || (@event && @event_reviews.any?) %>
    <% if @event %>
      <%= render partial: 'review', collection: @event_reviews %>
    <% elsif @facility %>
      <%= render partial: 'review', collection: @facility_reviews %>
    <% end %>
  <% else %>
    <p>レビューが見つかりませんでした。</p>
  <% end %>
  <div class="text-center mt-3">
    <% if @event %>
      <%= link_to "イベント詳細ページへ戻る", event_path(@event) %>
    <% elsif @facility %>
      <%= link_to "施設詳細ページへ戻る", facility_path(@facility) %>
    <% end %>
  </div>
  <% if @event %>
    <%= paginate @event_reviews %>
  <% elsif @facility %>
    <%= paginate @facility_reviews %>
  <% end %>
</div>
