<% content_for(:title, t('.title')) %>
<div class="container">
  <h3><%= t('.title') %></h3>
  <% if @reviews.any? %>
    <%= render partial: 'review', collection: @reviews %>
  <% else %>
    <p>レビューが見つかりませんでした。</p>
  <% end %>
  <div class="text-center mt-3">
    <% if @event %>
    <%= link_to "イベント詳細ページへ戻る", event_path(@event) %>
  <% elsif @facility %>
    <%= link_to "施設詳細ページへ戻る", facility_path(@facility) %>
  <% end %>
  </div>
  <%= paginate @reviews %>
</div>