<% content_for(:title, t('.title')) %>
<%= render 'shared/flash_message' %>
<div class="review-show-container ps-3 pe-3">
  <div class="review-show-wrapper">
    <h3><%= t('.title') %></h3>
    <div class="review-show-main-wrapper">
      <div class="review-show">
        <div class="d-flex justify-content-between">
          <h4 class="review-title"><%= simple_format(@review.title) %></h4>
          <div><%= l @review.created_at, format: :long %></div>
        </div>
        <div class="text-center">
          <%= image_tag(@review.image.present? ? @review.image.url : 'https://yochiyochi-images-videos.s3.ap-southeast-1.amazonaws.com/sample.png', alt: "sample", height: "150px", class: "review-image") %>
        </div>
        <p>
          <strong>評価:</strong>
          <%= display_stars(@review.rate) %>
        </p>
        <div class="review-body">
          <%= simple_format(@review.body) %>
        </div>
      </div>
    </div>
    <div class="review-btn-wrapper mt-3">
      <% if @review.user&.own?(@current_user) %>
      <div class="review-btns">
        <div class="review-edit">
          <% if @review.reviewable_type == 'Facility' %>
            <%= link_to "編集", edit_facility_review_path(@review.reviewable, @review), class: "edit-review-#{@review.id} btn btn-success" %>
          <% elsif @review.reviewable_type == 'Event' %>
            <%= link_to "編集", edit_event_review_path(@review.reviewable, @review), class: "edit-review-#{@review.id} btn btn-success" %>
          <% end %>
        </div>
        <div class="review-delete">
          <% if @review.reviewable_type == 'Facility' %>
            <%= link_to "削除", facility_review_path(@review.reviewable, @review), class: "delete-review-#{@review.id} btn btn-success", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')} %>
          <% elsif @review.reviewable_type == 'Event' %>
            <%= link_to "削除", event_review_path(@review.reviewable, @review), class: "delete-review-#{@review.id} btn btn-success", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')} %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <%= render 'comments/form', comment: @comment, review: @review %>
    <h2 class="mt-5">コメント一覧</h2>
    <% if @comments.present? %>
      <div id="table-comment" class="mt-3 ms-auto me-auto">
        <%= render @comments %>
      </div>
      <%= paginate @comments %>
    <% end %>
    <div class ="review-show-link-list d-flex justify-content-center gap-5">
      <%# <div class="back-reviews-wrapper"> %>
        <% if @review.reviewable_type == 'Facility' %>
          <%= link_to "レビュー一覧", facility_reviews_path(@review.reviewable), class: "nav-link active link-hover" %>
        <% elsif @review.reviewable_type == 'Event' %>
          <%= link_to "レビュー一覧", event_reviews_path(@review.reviewable), class: "nav-link active link-hover" %>
        <% end %>
      <%# </div> %>
      <%= link_to "投稿したレビュー一覧", user_reviews_path(current_user), class: "nav-link active link-hover" %>
    </div>
  </div>
</div>
