<!DOCTYPE html>
<html>
  <head>
    <title>よちよち</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', integrity: 'sha384-jLKHWM6HEW8klhZC3sh5orLukbN5PdJ5ybzU8mP32F1yBdC0jHaT2nFjB9COgucL', crossorigin: 'anonymous' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="conteiner-shared">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    <div>
  </body>
</html>
