<!DOCTYPE html>
<html>
  <head>
    <title>よちよち</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', integrity: 'sha384-jLKHWM6HEW8klhZC3sh5orLukbN5PdJ5ybzU8mP32F1yBdC0jHaT2nFjB9COgucL', crossorigin: 'anonymous' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="conteiner-shared">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    <div>
    <%= render 'shared/footer' %>
  </body>
</html>
